// Place all the styles related to the welcome controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
.social-btn{
  background: #ADD8E6;
  border: 25px;
  text-align: center;
  color: white;
  font-size: 30px;
  padding: 20px;
  margin-left: 480px;
  margin-top: 500px;
}
